/* =========================
   GLOBAL
   ========================= */

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* =========================
   GLOBAL BUTTONS
   ========================= */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* =========================
   EDIT LISTING IMAGE
   ========================= */

.edit-img {
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}